<html ng-app="Myapp">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="css/style.css" rel="stylesheet">
	<script src="js/script.js"></script>
</head>
<body>
<div class="main_Wrapper" ng-controller="Productcntrl">
	<div class="wrapper">
	    <div class="header_Sec">
		<div class="view_type_btn">
				<span class="grid_head mar"><i class="fas fa-list-ul"></i></span>
				<span class="grid_head"><i class="fas fa-th-large clr"></i></span>
		</div>
		<span class="add_User" ng-click="newuser()">Add Professors</span>
		</div>
		<div class="user_Container" ng-show="main_content">
			<div class="user_Card" ng-repeat="userInfo in userList">
				<div class="user_Image">
					<img ng-src="images/{{userInfo.img}}"  alt="User">
				</div>
				<div class="user_Details">
					<p class="user_Name">{{ userInfo.name }}</p>
					<span class="user_desc">{{ userInfo.jobdes }}</span>
					<p class="user_Email">{{ userInfo.email }}</p>
				</div>
				<div class="user_Edit_Hold">
				    <span class="user_Option msg_box">Message</span>
					<span class="user_Option view_box" ng-click="edit(userInfo.id)">View Profile</span>
				</div>
			</div>
		</div>
		<div class="form_Container" ng-show="form_content">
			<h2> User Details</h2>
			<div class="formsec_Holder">
			  <form name="myForm">
				<div class="field_Wrap">
				    <label>Name</label>
					<input type="text" class="input-field" name="name" ng-model="name" maxlength="14" required>
					<input type="hidden" ng-model="id">
				</div>
				<div class="field_Wrap">
				    <label>Email Id</label>
					<input type="text" class="input-field" ng-model="email_ID" maxlength="30">
				</div>
				<div class="field_Wrap">
				    <label>Mobile Number</label>
					<input type="text" class="input-field" ng-model="mob_Num" maxlength="10">
				</div>
				<div class="field_Wrap">
				    <label>Job Designation</label>
					<input type="text" class="input-field alphaSpaceOnly" ng-model="job_Desc" maxlength="14">
				</div>
				<div class="btn_Holder">
					<span class="btn" ng-click="cancel()">Cancel</span>
					<span class="btn" ng-click="save()" ng-if="section">Save</span>
					<span class="btn" ng-click="add()"  ng-if="newsection">Add</span>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
